# Google Drive API Credentials
GOOGLE_CLIENT_SECRET_FILE=
GOOGLE_TOKEN_FILE=

# Standard CSV format for scopes (Comma-Separated Values)
GOOGLE_SCOPES=

# Project Files
EXCEL_DATA_FILE=
ERROR_LOG_FILE=
